services:
  db:
    image: postgres:17.7-alpine
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - '5432:5432'

  pulsar:
    image: apachepulsar/pulsar:3.1.0
    container_name: pulsar
    command: bin/pulsar standalone
    ports:
      - "6650:6650"   # Pulsar client
      - "8081:8080"   # Pulsar admin UI